* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Bold.ttf");
	font-weight: 700;
}

body {
	font-family: 'Montserrat';
	width: 100%;
	max-width: 1920px;
	font-weight: 700;
	margin: 0 auto;
}

.container {
	width: 73%;
	margin: 0 auto;
}

ul li {
	list-style-type: none;
	text-decoration: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

button {
	background: #23A6F0;
	color: #ffffff;
	font-size: 14px;
	border: 1px #ffffff solid;
	border-radius: 5px;
	cursor: pointer;
}

.section1 {
	background-image: url("../images/img_background.svg");
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	position: fixed;
	width: 100%;
}

.header .container{
	display: flex;
  justify-content: space-between;
  padding: 18px 0;
  align-items: center;
}

h1 {
	font-size: 24px;
	width: 19%;
}

.nav-toggle {
	display: none;
	position: absolute;
	right: 1rem;
	top: 1.1rem;
	cursor: pointer;
}

.nav-toggle img {
	width: 1.5rem;
	transition: 300ms all ease;
}

.nav-toggle:hover img {
	opacity: 0.6;
}

.nav-bar.open {
	left: 0%;
	padding: 0;
	margin: 0px;
}

.hidden {
	display: none;
}

.nav-bar {
	width: 49%;
}

.nav-bar ul{
	display: flex;
}

.nav-bar a {
	padding: 0 10px;
	color: #000;
	font-size: 14px;
}

.login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 29%;
}

.link {
	color:#23A6F0;
	font-size: 14px;
}

.header-button {
  padding: 18px 15%;
	display: block;
}

.header-content {
	padding: 220px 0px 111px;
}

.online-training {
	color:#23A6F0;
	font-size: 16px;
}

.header-content h2 {
	font-size: 58px;
	padding: 38px 0px 35px;
	letter-spacing: -0.8px;
	line-height: 80px;
}

.header-content p {
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 30px;
}

.join-us, .learn-more {
	margin-top: 37px;
	padding: 17px 45px;
	text-align: center;
}

.learn-more {
	color: #23A6F0;
	background: #ffffff;
	border: 1px #23A6F0 solid;
}

/* section2 */
.section2 .container {
	padding: 112px 5px;
}

.common-h6 {
	font-size: 14px;
	color: #23A6F0;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
}
.common-h2 {
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 0.2px;
	text-align: left;
	padding: 10px 0;
}

.common-p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
}

.flex {
	display: flex;
}

.flex li {
	width: 238px;
	padding: 35px 40px 35px 40px;
	gap: 20px;
	opacity: 0px;
	background-color: #ffffff;
	box-shadow: 0px 13px 19px 0px #00000012;
}

.flex li:hover {
	background-color: #23A6F0;
}

.common-icon {
	width: 70px;
	padding: 22px 19px 22px 19px;
	gap: 10px;
	border-radius: 10px 10px 10px 10px;
	background: #B2E3FF;
	opacity: 0px;
}

h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	padding: 20px 0;
}

.line {
	display: block;
	width: 50px;
	height: 2px;
	gap: 0px;
	opacity: 0px;
	background: #E74040;
}

/* i-pad */
@media screen and (max-width: 1280px) and (min-width: 768px) {

	.container {
		width: 92%;
	}

	.section1 {
		background-image: none;
		background-color: gray;
	}

	h1 {
		width: 21%;
	}

	.header-content h2 {
		font-size: 4.531vw;
	}

	.header-content p {
		font-size: 1.563vw;
	}

	.login {
		width: 36%;
	}

	.link {
		font-size: 1.094vw;
	}

	.header-button {
		padding: 1.406vw 4.203vw;
	}
	
}

/* mobile */
@media screen and (max-width: 767.9px){

	.container {
		width: 90%;
	}

	.section1 {
		background-image: none;
		background-color: gray;
	}

	.header {
		position: relative;
	}

	.header-content {
		padding: 13.333vw 0px 20.6vw;
	}

	.header-content h2 {
		font-size: 7.553vw;
		padding: 4vw 0;
		line-height: 8vw;
	}

	.header-content p {
		font-size: 2.605vw;
	}

	.link {
		font-size: 1.823vw;
	}

	.nav-bar {
		height: 100%;
		width: 100%;
		top: 13.333vw;
		transition: 250ms all ease-in-out;
		position: fixed;
		left: 200%;
		background-color: #ccc;
	}

	.nav-bar ul {
		display: block;
    width: 100%;
	}

	.nav-bar li {
		padding: 6vw 2.667vw;
	}

	.login {
		display: none;
	}

	.join-us, .learn-more {
		padding: 4.8vw 8.533vw;
	}

	/* li a{
		display: block;
		text-align: center;
		padding: 10px;
		background-color: #000;
	} */

	.nav-toggle {
		display: block;
		z-index: 99;
	}
}

