* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Bold.ttf");
	font-weight: 700;
}

body {
	font-family: 'Montserrat';
	width: 100%;
	max-width: 1920px;
	font-weight: 700;
	margin: 0 auto;
}

.container {
	width: 73%;
	margin: 0 auto;
}

ul li {
	list-style-type: none;
	text-decoration: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

button {
	background: #23A6F0;
	color: #ffffff;
	font-size: 14px;
	border: 1px #ffffff solid;
	border-radius: 5px;
	cursor: pointer;
}

.section1 {
	background-image: url("../images/img_background.svg");
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	position: fixed;
	width: 100%;
}

.header .container{
	display: flex;
  justify-content: space-between;
  padding: 18px 0;
  align-items: center;
}

h1 {
	font-size: 24px;
	width: 19%;
}

.nav-toggle {
	display: none;
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	cursor: pointer;
}

.nav-toggle img {
	width: 1.5rem;
	transition: 300ms all ease;
}

.nav-toggle:hover img {
	opacity: 0.6;
}

.nav-bar.open {
	left: 0%;
	padding: 0;
	margin: 0px;
}

.hidden {
	display: none;
}

.nav-bar {
	width: 49%;
}

.nav-bar ul{
	display: flex;
}

.nav-bar a {
	padding: 0 10px;
	color: #000;
	font-size: 14px;
}

.login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 29%;
	text-align: center;
}

.link {
	color:#23A6F0;
	font-size: 14px;
}

.header-button {
  padding: 18px 15%;
	display: block;
}

.header-content {
	padding: 220px 0px 111px;
}

.online-training {
	color:#23A6F0;
	font-size: 16px;
}

.header-content h2 {
	font-size: 58px;
	padding: 38px 0px 35px;
	letter-spacing: -0.8px;
	line-height: 1.4;
}

.header-content p {
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 1.5;
}

.join-us, .learn-more {
	margin-top: 37px;
	padding: 17px 45px;
	text-align: center;
}

.learn-more {
	color: #23A6F0;
	background: #ffffff;
	border: 1px #23A6F0 solid;
}

/* section2 */
.section2 .container {
	padding: 111px 5px;
}

.common-h6 {
	font-size: 14px;
	color: #23A6F0;
	line-height: 1.6;
	text-align: left;
}
.common-h2 {
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: -0.8px;
	text-align: left;
	padding: 10px 0;
}

.common-p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
	text-align: left;
}

.flex {
	display: flex;
	margin: 111px -2px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex li {
	width: 238px;
	padding: 35px 40px 35px 40px;
	gap: 20px;
	opacity: 0px;
	background-color: #ffffff;
	box-shadow: 0px 13px 19px 0px #00000012;
}

.flex li:hover {
	background-color: #23A6F0;
	color: #ffffff;
}

.flex li:hover .common-icon{
	background: #ffffff;
}

.flex li:hover .line{
	background: #ffffff;
}

.common-icon {
	width: 70px;
	height: 75px;
	padding: 22px 23px 22px 19px;
	gap: 10px;
	border-radius: 10px 10px 10px 10px;
	opacity: 0px;
}

.cool, .book {
	background: #B2E3FF;
}

.mark {
	background: #B9EAA8;
}

.analysis {
	background: #FFDCD1;
}

h5 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.6px;
	text-align: left;
	padding: 23px 0;
}

.line {
	display: block;
	width: 50px;
	height: 2px;
	background: #E74040;
	margin-bottom: 19px;
}

/* i-pad */
@media screen and (max-width: 1280px) and (min-width: 768px) {

	/*section1 */

	.container {
		width: 92%;
	}

	.section1 {
		background-position: 100% 100%;
	}

	h1 {
		width: 13%;
		font-size: 1.875vw;
	}

	.nav-bar {
		width: 45%;
	}

	.nav-bar a {
    padding: 0 0.781vw;
    font-size: 1.094vw;
	}

	.header-content {
		padding: 11.813vw 0;
	}

	.header-content h2 {
		font-size: 4.531vw;
		padding: 2.734vw 0;
	}

	.header-content p {
		font-size: 1.563vw;
	}

	.login {
		width: 26%;
	}

	.link {
		font-size: 1.094vw;
	}

	.header-button {
		padding: 1.406vw 0.203vw;
	}

	/* section2 */

	.section2 .container {
		padding: 111px 5px;
	}
	
	.common-h6 {
		font-size: 1.094vw;
	}
	.common-h2 {
		font-size: 3.125vw;
		padding: 0.781vw 0;
	}
	
	.common-p {
		font-size: 1.094vw;
	}
	
	.flex {
		margin: 3.125vw 0;
	}
	
	.flex li {
		width: 18.594vw;
		padding: 2.734vw 3.125vw;
	}
	
	.common-icon {
		width: 5.469vw;
		height: 5.859vw;
		padding: 1.719vw 1.797vw 1.719vw 1.484vw;
	}
	
	h5 {
		font-size: 1.25vw;
		letter-spacing: -0.047vw;
		padding: 1.797vw 0;
	}
	
	.line {
		width: 3.906vw;
		height: 0.156vw;
		background: #E74040;
		margin-bottom: 1.484vw;
	}
	
	
}

/* mobile */
@media screen and (max-width: 767.9px){

	/* section1 */
	.container {
		width: 96%;
	}

	.section1 {
		background-position: 100% 100%;
	}

	h1 {
    font-size: 6.4vw;
    width: 43%;
	}

	.header {
		position: relative;
	}

	.header .container {
		padding: 1.6vw 0;
	}

	.header-content {
		padding: 13.333vw 0px 20.6vw;
	}

	.header-content h2 {
		font-size: 7.553vw;
		padding: 4vw 0;
		line-height: 8vw;
	}

	.header-content p {
		font-size: 2.605vw;
	}

	.link {
		font-size: 1.823vw;
	}

	.nav-bar {
		height: 100%;
		width: 100%;
		top: 8%;
		transition: 250ms all ease-in-out;
		position: fixed;
		left: 200%;
		background-color: #ccc;
	}

	.nav-bar ul {
		display: block;
    width: 100%;
	}

	.nav-bar li {
		padding: 6vw 2.667vw;
	}

	.login {
		display: none;
	}

	.join-us, .learn-more {
		padding: 1.8vw 6.533vw;;
	}

	.nav-toggle {
		display: block;
		z-index: 99;
	}

	/* section2 */

	.section2 .container {
		padding: 9.333vw 0;
	}
	
	.common-h6 {
		font-size: 3.733vw;
	}
	.common-h2 {
		font-size: 10.667vw;
		padding: 2.667vw 0;
	}
	
	.common-p {
		font-size: 3.733vw;
	}
	
	.flex {
		margin: 7.125vw 0;
		gap: 5.333vw;
	}
	
	.flex li {
		width: 44.594vw;
		padding: 2.734vw 3.125vw;
	}
	
	.common-icon {
		width: 9.469vw;
		height: 8.859vw;
		padding: 1.719vw 1.797vw;
	}
	
	h5 {
		font-size: 4.267vw;
		padding: 3.797vw 0;
	}
	
	.line {
		width: 7.906vw;
		height: 0.156vw;
		background: #E74040;
		margin-bottom: 3.484vw;
	}
}

