* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

body {
  font-family: 'Montserrat';
  width: 100%;
  max-width: 1920px;
  font-weight: 700;
  margin: 0 auto;
}

.container {
  width: 73%;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

button {
  background: #23A6F0;
  color: #ffffff;
  font-size: 14px;
  border: 1px #ffffff solid;
  border-radius: 5px;
  cursor: pointer;
}

.section1 {
  background-image: url("../images/img_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
}

h1 {
  font-size: 24px;
  width: 15%;
}

.nav-toggle {
  display: none;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}

.nav-toggle img {
  width: 1.5rem;
  transition: 300ms all ease;
}

.nav-toggle:hover img {
  opacity: 0.6;
}

.nav-bar.open {
  left: 0%;
  padding: 0;
  margin: 0px;
}

.hidden {
  display: none;
}

.nav-bar {
  width: 28%;
  margin-right: 170px;
}

.nav-bar ul {
  display: flex;
}

.nav-bar a {
  padding: 0 10px;
  color: #000;
  font-size: 14px;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29%;
  text-align: center;
}

.link {
  color: #23A6F0;
  font-size: 14px;
}

.header-button {
	font-family: 'Montserrat';
	font-size: 14px;
  padding: 18px 13%;
  display: block;
}

.header-content {
  padding: 220px 0px 111px;
}

.online-training {
  color: #23A6F0;
  font-size: 16px;
}

.header-content h2 {
  font-size: 58px;
  padding: 38px 0px 35px;
  letter-spacing: -0.8px;
  line-height: 1.4;
}

.header-content p {
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.5;
}

.join-us,
.learn-more {
  margin-top: 37px;
  padding: 17px 45px;
  text-align: center;
}

.learn-more {
  color: #23A6F0;
  background: #ffffff;
  border: 1px #23A6F0 solid;
}

/* section2 */
.section2 .container {
  padding: 111px 5px;
}

.common-h6 {
  font-size: 14px;
  color: #23A6F0;
  line-height: 1.6;
  text-align: left;
}

.common-h2 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.8px;
  text-align: left;
  padding: 10px 0;
}

.common-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.3px;
}

.flex {
  display: flex;
  margin: 111px -2px;
  justify-content: space-between;
}

.flex li {
  width: 238px;
  padding: 35px 40px 35px 40px;
  background-color: #ffffff;
  box-shadow: 0px 13px 19px 0px #00000012;
}

.flex li:hover {
  background-color: #23A6F0;
  color: #ffffff;
}

.flex li:hover .common-icon {
  background: #ffffff;
}

.flex li:hover .line {
  background: #ffffff;
}

.common-icon {
  width: 70px;
  height: 75px;
  padding: 22px 23px 22px 19px;
  gap: 10px;
  border-radius: 10px 10px 10px 10px;
}

.cool,
.book {
  background: #B2E3FF;
}

.mark {
  background: #B9EAA8;
}

.analysis {
  background: #FFDCD1;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.6px;
  text-align: left;
  padding: 23px 0;
}

.line {
  display: block;
  width: 50px;
  height: 2px;
  background: #E74040;
  margin-bottom: 19px;
}

/* section3 */

.online-education {
  display: flex;
  justify-content: space-between;
}

.section3-first-column {
  width: 425px;
  padding: 99px 0;
  margin-left: 39px;
  position: relative;
  z-index: -1;
}

.section3-first-column::before {
  position: absolute;
  top: 69px;
  right: -34px;
  z-index: -1;
  content: "";
  width: 116px;
  height: 136px;
  border: 1px solid #B6D7FF;
  background-color: #B6D7FF;
}

.section3-first-column::after {
  position: absolute;
  bottom: 84px;
  left: -35px;
  z-index: -1;
  content: "";
  width: 57px;
  height: 59px;
  border: 1px solid #FEB896;
  border-radius: 30px;
  background-color: #FEB896;
}

.section3-second-column {
  width: 385px;
  padding: 171px 0px;
}

.line3 {
  width: 94px;
  height: 7px;
}

.make-online {
  padding: 18px 0 41px;
}

.problems {
  padding-bottom: 35px;
}

/* seciton4 */

.section4 .container {
  padding: 188px 2px 0;
}

.course-list {
  display: flex;
  padding: 113px 0;
  justify-content: space-between;
}

.course-list li {
  position: relative;
}

.course-img {
  width: 238px;
  z-index: 99;
}

.sale {
  font-size: 14px;
  background-color: #E74040;
  border: 1px solid #E74040;
  border-radius: 5px;
  position: absolute;
  z-index: 9999;
  width: 51px;
  color: #ffffff;
  height: 24px;
  margin: 20px 0;
  padding: 2px;
  left: 8%;
  text-align: center;
}

.icon-card {
  display: flex;
  justify-content: space-between;
  width: 140px;
  position: absolute;
  z-index: 99;
  left: 20%;
  margin: -68px 0;
}

.course-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  background: #ffffff;
  padding: 10px;
  border-radius: 100px;
}

.course-btn {
  border-radius: 100px;
  padding: 15px 35px;
  margin: 25px 0px;
}

.course-content {
  width: 232px;
  padding: 23px;
}

.graphic-course {
  padding: 18px 0 12px;
  letter-spacing: 0px;
}

.sales-15 {
  padding: 11px 28px 21px;
}

.course-flex {
  display: flex;
  padding: 35px 23px 0;
  font-size: 12px;
  justify-content: space-between;
}

/* section5 */
.section5 .container {
  padding: 146px 2px 0;
}

.teacher1 {
  width: 128px;
  height: 128px;
  margin: -2px 109px;
  border-radius: 200px;
}

.teacher-content {
  width: 363px;
  padding: 27px 23px;
}

.teacher-text {
  color: #000;
}

.teacher-list {
  width: 508px;
  padding: 9px 79px;
}

.rating {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 11px 102px 0px 89px;
}

.star {
  width: 19px;
  height: 19px;
}

.regina {
  padding: 18px 99px 14px;
}

.designer {
  padding: 118px;
  font-size: 14px;
}

/* section6 */

.section6 .container {
  padding: 143px;
  text-align: center;
}

.center {
  text-align: center;
}

.subscribe {
  margin: auto;
  max-width: 688px;
  padding: 80px 0;
  position: relative;
}

.subscribe input {
  font-family: 'Montserrat';
  font-size: 14px;
  float: left;
  width: 83%;
  padding: 19px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #E6E6E6;
  background: #F9F9F9;

}

.btn-subscribe {
  font-family: 'Montserrat';
  font-size: 14px;
  float: right;
  width: 17%;
  padding: 19px 22.5px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #E6E6E6;
  background-color: #23A6F0;
}

/* Footer */

.categories {
  display: flex;
  gap: 30px;
  padding: 83px 2px 88px;
  justify-content: space-between;
}

h3 {
  font-size: 24px;
}

.touch {
  width: 241px;
}

.touch p {
  padding: 27px 0 23px;
}

.touch ul {
  display: flex;
  gap: 20px;
}

.social-media {
  width: 25px;
  height: 25px;
}

.info {
  width: 241px;
}

.info ul {
  padding: 16px 0;
}

.info li {
  color: #737373;
  font-size: 14px;
  padding: 10px 0;
}

.footer-text {
  color: #737373;
  font-size: 14px;
  text-align: center;
  padding: 0 0 0 33%;
}

/* i-pad */
@media screen and (max-width: 1280px) and (min-width: 768px) {

  /*section1 */

  .container {
    width: 92%;
  }

	.header .container {
		padding: 1.406vw 0;
	}

  .header {
    position: fixed;
		max-width: 150vw;
  }

  .section1 {
    background-position: 100% 100%;
  }

  h1 {
    width: 13%;
    font-size: 1.875vw;
  }

  .nav-bar {
    width: 45%;
  }

  .nav-bar a {
    padding: 0 0.781vw;
    font-size: 1.094vw;
  }

  .header-content {
    padding: 11.813vw 0;
  }

  .header-content h2 {
    font-size: 4.531vw;
    padding: 2.734vw 0;
  }

  .header-content p {
    font-size: 1.563vw;
  }

  .login {
    width: 26%;
  }

  .link {
    font-size: 1.094vw;
  }

  .header-button {
    padding: 1.406vw 0.203vw;
  }

  /* section2 */

  .section2 .container {
    padding: 8.672vw 0.391vw;
  }

  .common-h6 {
    font-size: 1.094vw;
  }

  .common-h2 {
    font-size: 3.125vw;
    padding: 0.781vw 0;
  }

  .common-p {
    font-size: 1.094vw;
  }

  .flex {
    margin: 3.125vw 0;
  }

  .flex li {
    width: 18.594vw;
    padding: 2.734vw 3.125vw;
  }

  .common-icon {
    width: 5.469vw;
    height: 5.859vw;
    padding: 1.719vw 1.797vw 1.719vw 1.484vw;
  }

  h5 {
    font-size: 1.25vw;
    letter-spacing: -0.047vw;
    padding: 1.797vw 0;
  }

  .line {
    width: 3.906vw;
    height: 0.156vw;
    background: #E74040;
    margin-bottom: 1.484vw;
  }

  /* section3 */

  .section3-first-column {
    width: 33.203vw;
    padding: 7.734vw 0;
    margin-left: 3.047vw;
  }

  .section3-first-column::before {
    top: 1.391vw;
    right: -4.656vw;
    width: 9.063vw;
    height: 10.625vw;
  }

  .section3-first-column::after {
    bottom: 6.391vw;
    left: -2.734vw;
    width: 4.453vw;
    height: 4.609vw;
  }

  .section3-second-column {
    width: 30.078vw;
    padding: 10.359vw 0px;
  }

  .line3 {
    width: 7.344vw;
    height: 0.547vw;
  }

  .make-online {
    padding: 1.406vw 0 3.203vw;
  }

  .problems {
    padding-bottom: 2.734vw;
  }

  /* seciton4 */

  .section4 .container {
    padding: 0;
  }

  .course-list {
    padding: 8.828vw 0;
  }

  .course-img {
    width: 18.594vw;
  }

  .sale {
    font-size: 1.094vw;
    width: 3.984vw;
    height: 1.875vw;
    margin: 1.563vw 0;
    padding: 0.156vw;
    left: 6%;
  }

  .icon-card {
    width: 10.938vw;
    margin: -5.313vw 0;
    left: 8%;
  }

  .course-icon {
    width: 3.125vw;
    height: 3.125vw;
    padding: 0.781vw;
    border-radius: 7.813vw;
  }

  .course-btn {
    border-radius: 813vw;
    padding: 1.172vw 1.734vw;
    margin: 1.953vw 0px;
  }

  .course-content {
    width: 18.125vw;
    padding: 1.797vw;
  }

  .graphic-course {
    padding: 1.406vw 0 0.938vw;
  }

  .sales-15 {
    padding: 0.859vw 2.188vw 1.641vw;
  }

  .course-flex {
    padding: 2.734vw 1.797vw 0;
    font-size: 0.938vw;
  }


  /* section5 */
  .section5 .container {
    padding: 0;
  }

  .teacher1 {
    width: 10vw;
    height: 10vw;
    margin: -0.156vw 8.516vw;
    border-radius: 15.625vw;
  }

  .teacher-content {
    width: 28.359vw;
    padding: 2.109vw 1.797vw;
  }

  .teacher-list {
    width: 39.688vw;
    padding: 0.703vw 6.172vw;
  }

  .rating {
    gap: 5px;
    padding: 0.859vw 7.969vw 0 6.953vw;
  }

  .star {
    width: 1.484vw;
    height: 1.484vw;
  }

  .regina {
    padding: 1.406vw 7.734vw 1.094vw;
  }

  .designer {
    padding: 9.219vw;
    font-size: 1.094vw;
  }

  /* section6 */

  .section6 .container {
    padding: 0 11.172vw;
  }

  .subscribe {
    max-width: 53.75vw;
    padding: 6.25vw 0;
  }

  .subscribe input {
    font-size: 1.094vw;
    width: 83%;
    padding: 1.484vw;
  }

  .btn-subscribe {
    font-size: 1.094vw;
    width: 17%;
    padding: 1.484vw 1.758vw;
  }

/* Footer */

.categories {
  gap: 2.344vw;
  padding: 6.484vw 15.313vw 6.797vw;
}

h3 {
  font-size: 1.875vw;
}

.touch {
  width: 18.828vw;
}

.touch p {
  padding: 2.109vw 0 1.797vw;
}

.touch ul {
  gap: 1.563vw;
}

.social-media {
  width: 1.953vw;
  height: 1.953vw;
}

.info {
  width: 18.828vw;
}

.info ul {
  padding: 1.25vw 0;
}

.info li {
  font-size: 1.094vw;
  padding: 0.781vw 0;
}

.footer-text {
  font-size: 0.938vw;
  padding: 0 0 0 37%;
}
}

/* mobile */
@media screen and (max-width: 767.9px) {

  /* section1 */
  .container {
    width: 96%;
  }

  .section1 {
    background-position: 100% 100%;
  }

  h1 {
    font-size: 6.4vw;
    width: 43%;
  }

  .header .container {
    padding: 1.6vw 0;
  }

  .header {
    position: relative;
  }

  .header-content {
    padding: 13.333vw 0px 20.6vw;
  }

  .header-content h2 {
    font-size: 7.553vw;
    padding: 4vw 0;
    line-height: 8vw;
  }

  .header-content p {
    font-size: 2.605vw;
  }

  .link {
    font-size: 1.823vw;
  }

  .nav-bar {
    height: 100%;
    width: 100%;
    top: 8%;
    transition: 250ms all ease-in-out;
    position: fixed;
    left: 200%;
    background-color: #ccc;
  }

  .nav-bar ul {
    display: block;
    width: 100%;
  }

  .nav-bar li {
    padding: 6vw 2.667vw;
  }

  .login {
    display: none;
  }

  .join-us,
  .learn-more {
    padding: 1.8vw 6.533vw;
    ;
  }

  .nav-toggle {
    display: block;
    z-index: 99;
  }

  /* section2 */

  .section2 .container {
    padding: 9.333vw 0;
  }

  .common-h6 {
    font-size: 1.733vw;
  }

  .common-h2 {
    font-size: 2.667vw;
    padding: 2.667vw 0;
  }

  .common-p {
    font-size: 1.733vw;
  }

  .flex {
    margin: 7.125vw 0;
    flex-wrap: wrap;
    gap: 5.333vw;
  }

  .flex li {
    width: 44.594vw;
    padding: 2.734vw 3.125vw;
  }

  .common-icon {
    width: 9.469vw;
    height: 8.859vw;
    padding: 1.719vw 1.797vw;
  }

  h5 {
    font-size: 3.267vw;
    padding: 3.797vw 0;
  }

  .line {
    width: 7.906vw;
    height: 0.156vw;
    background: #E74040;
    margin-bottom: 3.484vw;
  }

  /* section3 */

  .online-education {
    gap: 9.6vw;
  }

  .section3-first-column {
    width: 100.333vw;
    padding: 26.4vw 0;
    margin-left: 10.4vw;
  }

  .section3-first-column::before {
    top: 21.4vw;
    right: -4.067vw;
    width: 9.063vw;
    height: 10.625vw;
  }

  .section3-first-column::after {
    bottom: 26.4vw;
    left: -2.333vw;
    width: 4.453vw;
    height: 4.609vw;
  }

  .section3-second-column {
    width: 127.667vw;
    padding: 27.6vw 0;
  }

  .line3 {
    width: 12.067vw;
    height: 1.156vw;
  }

  .problems {
    padding-bottom: .333vw
  }

  /* seciton4 */

  .section4 .container {
    padding: 0;
  }

  .course-list {
    padding: 15.133vw 0;
    flex-wrap: wrap;
    gap: 5.333vw;
  }

  .course-list li {
    width: 44.594vw;
  }

  .course-img {
    width: 63.467vw;
  }

  .sale {
    font-size: 2.733vw;
    width: 10.6vw;
    height: 4.4vw;
    margin: 5.333vw 0;
    padding: 0.533vw;
    left: 7%;
  }

  .icon-card {
    width: 34.333vw;
    left: 8%;
    margin: -15.133vw 0;
  }

  .course-icon {
    width: 7.667vw;
    height: 7.667vw;
    padding: 2.667vw;
    border-radius: 26.667vw;
  }

  .course-btn {
    border-radius: 26.667vw;
    padding: 3vw 5.333vw;
    margin: 2.667vw 21px;
  }

  .course-content {
    width: 41.867vw;
    padding: 3.133vw 0vw;
  }

  .graphic-course {
    padding: 4.8vw 0 3.2vw;
  }

  .sales-15 {
    padding: 2.933vw 7.467vw 5.6vw;
  }

  .course-flex {
    padding: 3.333vw 0;
    font-size: 2.2vw;
  }

  /* section5 */
  .section5 .container {
    padding: 0 0.156vw;
  }

  .teacher1 {
    width: 14vw;
    height: 14vw;
    margin: -0.156vw 8.516vw;
    border-radius: 15.625vw;
  }

  .teacher-content {
    width: 33.359vw;
    padding: 3.109vw 1.797vw;
  }

  .teacher-list {
    padding: 0.703vw 6.172vw;
  }

  .rating {
    gap: 1.333vw;
    padding: 1.859vw 4.969vw;
  }

  .star {
    width: 3.484vw;
    height: 3.484vw;
  }

  .regina {
    padding: 1.406vw 3.734vw;
  }

  .designer {
    padding: 7.219vw;
    font-size: 2.795vw;
  }

  /* section6 */

  .section6 .container {
    padding: 0 11.172vw;
  }

  .subscribe {
    max-width: 53.75vw;
    padding: 6.25vw 0;
  }

  .subscribe input {
    font-size: 2.094vw;
    width: 74%;
    padding: 1.484vw;
  }

  .btn-subscribe {
    font-size: 2.094vw;
    width: 26%;
    padding: 1.484vw 1.758vw;
  }

/* Footer */

.categories {
  gap: 2.344vw;
  padding: 6.484vw 15.313vw 6.797vw;
	flex-wrap: wrap;
}

h3 {
  font-size: 2.875vw;
}

.touch {
  width: 23.594vw;
}

.touch p {
  padding: 2.109vw 0 1.797vw;
}

.touch ul {
  gap: 1.563vw;
}

.social-media {
  width: 1.953vw;
  height: 1.953vw;
}

.info {
  width: 18.828vw;
}

.info ul {
  padding: 1.25vw 0;
}

.info li {
  font-size: 1.5vw;
  padding: 0.781vw 0;
}

.footer-text {
  font-size: 0.938vw;
  padding: 0 0 0 37%;
}
}